[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
arrow = "*"
attrs = "*"
"backports.functools-lru-cache" = "*"
"backports.shutil-get-terminal-size" = "*"
celery = "*"
celery-with-redis = "*"
click = "*"
cryptography = "*"
Flask = "*"
flask-migrate = "*"
Flask-Script = "*"
Flask-Session = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
futures = "*"
ipdb = "*"
"Jinja2" = "*"
lxml = "*"
mysql-python = "*"
PyMySQL = "*"
pyOpenSSL = "*"
redis = "*"
requests = "*"
requests-file = "*"
Scrapy = "*"
sqlacodegen = "*"
SQLAlchemy = "*"
yapf = "*"
fire = "*"
better-exceptions = "*"

[requires]
python_version = "2.7"
